.input-group{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0px;
}

.upravljaj{
    display:flex;
    justify-content: space-between;
}

.chart{
    display:flex;
    flex-direction: row;
    margin: 100px 0 100px 0;
}

.canvas{
    width: 50%;
}

.measurements{
    overflow: auto;
    width: 50vw;
    height: 230px;
    background: rgb(231, 228, 224);
    margin-bottom: 50px;
    
}

.file-list{
    width: 60vw;
}

.measurement{
    padding: 10px;
    cursor: pointer;
}

.measurement:hover{
    background-color: bisque;
}

.contact-form{
    width: 20vw;
}

.radio{
    justify-content: space-around;
}