{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{{ files|json_script:"files" }}
<div class="top-line">
    <h1>Vaše meritve na strežniku</h1>
    <a href="/admin" >
        <div class="avalible admin" >Admin strani</div>
    </a>
</div>
<div class="measurement-table">
    <div>Meritev</div>
    <div></div>
    <div>Dodano</div>
    <div class="last">Prikaži</div>
</div>

<div class="measurements-all">
    {% for m in measurements %}
<div class="measurement-status" id="{{ m.title }}">
    <div class="measurement-item">{{m.title}}</div>
    <a class="no-hover odstrani-link" href="delete/{{m.title}}">
        <div class="measurement-item show odstrani">Izbriši</div>
    </a>
    <div class="measurement-item">{{m.added}}</div>
    <a class="no-hover" href="#" onclick="return false;">
    {% comment %} <div class="measurement-item show status" id="test1">Prikaži</div> {% endcomment %}
    <div class="measurement-item show status" id="{{m.json_file}}">Prikaži</div>
    </a>
</div>
{% endfor %}
</div>
<div class="top-line">

</div>

<div class="top-line">
    <h1>Prikaz meritev</h1>
</div>
<div class="meritev">
    <div class="section">
        <div>
            <h2 id="naslov-meritve">Podatki o meritvi:</h2>
            <ul id="meritev">
                <li>Meritev:</li>
                <li>Frekvenca vzorčenja:</li>
                <li>Trajanje zajema:</li>
                <li>Datum meritve:</li>
                <li>Uporabljena metoda:</li>
            </ul>
        </div>

        <div>
        <h2 id="naslov-meritve">Območje zanimanja FRF [Hz]:</h2>
        
            <label class="inline" for="od">Od</label>
            <input type="number" id="input-number-1">
            <label class="inline" for="do">Do</label>
            <input type="number" id="input-number-2">
        </div>
        <h2 id="naslov-meritve">Prenos datotek:</h2>
        <p>S klikom na gumb si lahko prenesete *.json (surovi podatki) ali *.npz (numpy array) za nadaljne analize.</p>
        <div class="download-file">
            <a class="no-hover" href="" id="download-json">
                {% comment %} <div class="measurement-item show status" id="test1">Prikaži</div> {% endcomment %}
                <div class="show status" id="">Prenesi *.json</div>
                </a>
            <a class="no-hover" href="" id="download-npz">
                    {% comment %} <div class="measurement-item show status" id="test1">Prikaži</div> {% endcomment %}
                <div class="show status" id="">Prenesi *.npz</div>
                </a>
        </div>
 


        
        {% comment %} <div class="section canvas1" >
            <canvas id="myChart-input"></canvas>
        </div>
        <div class="section canvas1" >
            <canvas  id="myChart-output"></canvas>
        </div>
         {% endcomment %}
    </div>

        <div class="section2">
            <div class="section canvas2" id="chart-canvas1">
                <canvas id="myChart-1"></canvas>
            </div>
            <div class="section canvas2" id="chart-canvas2">
                <canvas  id="myChart-2"></canvas>
            </div>
            <div class="section canvas2" id="chart-canvas3">
                <canvas id="myChart-3"></canvas>
            </div> 
        </div>

</div>

<script src="{% static "js/mes-app.js" %}"></script>
{% endblock %}