{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{{ files|json_script:"files" }}
<div class="top-line">
    <h1>Vaše meritve na strežniku</h1>
</div>
<div class="measurement-table">
    <div>Meritev</div>
    <div>Komentar</div>
    <div>Dodano</div>
    <div class="last">Prikaži</div>
</div>

<div class="measurements-all">
    {% for m in measurements %}
<div class="measurement-status" id="{{ m.title }}">
    <div class="measurement-item">{{m.title}}</div>
    <div class="measurement-item">{{m.comment}}</div>
    <div class="measurement-item">{{m.added}}</div>
    <a class="no-hover" href="#">
    {% comment %} <div class="measurement-item show status" id="test1">Prikaži</div> {% endcomment %}
    <div class="measurement-item show status" id="{{m.json_file}}">Prikaži</div>
    </a>
</div>
{% endfor %}
</div>
<div class="top-line">

</div>

<div class="top-line">
    <h1>Prikaz meritev</h1>
</div>
<div class="meritev">
    <div class="section">
        <h2 id="naslov-meritve">Podatki o meritvi:</h2>
        <ul id="meritev">
            <li>Meritev:</li>
            <li>Frekvenca vzorčenja:</li>
            <li>Trajanje zajema:</li>
            <li>Datum meritve:</li>
            <li>Uporabljena metoda:</li>
        </ul>
        <h2 id="naslov-meritve">Območje opazovanja [Hz]:</h2>
        {% comment %} <div id="slider"></div> {% endcomment %}
        <label class="inline" for="od">Od</label>
        <input type="number" id="input-number-1">
        <label class="inline" for="do">Do</label>
        <input type="number" id="input-number-2">
        
        
    </div>

        <div class="section2">
            <div class="section canvas2">
                <canvas id="myChart-1"></canvas>
            </div>
            <div class="section canvas2">
                <canvas  id="myChart-2"></canvas>
            </div>
            <div class="section canvas2">
                <canvas id="myChart-3"></canvas>
            </div> 
        </div>

</div>

<script src="{% static "js/mes-app.js" %}"></script>
{% endblock %}