.meritev{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    

.show{
    cursor: pointer;
}

/* .chart{
    display:flex;
    flex-direction: row;
    margin: 100px 0 100px 0;
} */

.canvas2{
    width: 48vw;
}

.section{
    display: flex;
    flex-direction: column;
}

.download-file{
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
}