.meritev{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
    

.show{
    cursor: pointer;
}

/* .chart{
    display:flex;
    flex-direction: row;
    margin: 100px 0 100px 0;
} */

.canvas2{
    width: 48vw;
}

/* .section2{
    flex-grow: 2;
} */