{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class= "login-div">
    <div class="login-window">
        <h1>Vpis</h1>
    {% if form.errors %}
    <p>
    Uporabniško ime in geslo se en ujemata.
    prosim poskusite ponovno.
    </p>
    {% else %}
    <p>Uporabite sledečo formo za vpis:</p>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input type="submit" value="Vpis"></p>
    </form>
    </div>
</div>
</div>

{% endblock %}