{% extends "base.html" %}
{% block title %}Račun{% endblock %}

{% block content %}
<div class="top-line">
    <h1>Uredite podatke</h1>
    <a href="/admin" >
        <div class="avalible admin" >Admin strani</div>
    </a>
</div>
<p>Z uporabo sledeče forme lahko uredite svoje podatke:</p>
<div class="edit-account">
    
    <div>    
        
        <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Shrani spremembe"></p>
        </form>
    </div>

</div>

<p>Ostale podatke lahko urejate preko skrbniških (admin) strani. Če nimate dostopa, kontaktirajte skrbnika. </p>
{% endblock %}