{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="top-line">
    <h1>Upravljanje naprave: {{ device.title }}</h1>
</div>
{% comment %} 
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send"> {% endcomment %}
{{ room_name|json_script:"room-name" }}

<div class="upravljaj">
    <div class="contact-form"> 
      <h2>Začni meritev</h2>
      <p>Tu kontrolirate napravo in posnamete meritev.</p>
       <form>
        <div class="input-group">
          <label for="name">Ime meritve:</label>
          <input id="name" name="name" type="text" required/>
        </div>
        <label for="save">Shrani meritev:</label>
        <div class="input-group radio">
          <div>
            <input id="save-yes" name="save" type="radio" value="yes"/>
            <label class="inline" for="save">Da</label>
          </div>
          <div>          
            <input id="save-no" name="save" type="radio" value="no" checked/>
            <label class="inline" for="save">Ne</label>
          </div>
        </div>
        <label for="mode">Način:</label>
          <div class="input-group" id="nacin">
            
            <input id="stream" name="mode" type="radio" value="stream" checked/>
            <label class="inline" for="mode-stream">Časovno neomejen</label>
            
            <input id="duration" name="mode" type="radio" value="duration"/>
            <label class="inline" for="mode-duration">Časovno omejen</label>
          </div>
    
          <div class="input-group" id="cas-trajanja">
            <label for="duration">Čas trajanja [s]:</label>
            <input id="duration" name="duration" type="number"/>
          </div>
          
          <label for="name">Frekvenca vzorčenja:</label>
    
          <div class="input-group">
    
            <input id="salutation-mrs" name="rate" type="radio" value="48000"/>
            <label class="inline" for="rate-48000">48000</label>
    
            <input id="salutation-mrs" name="rate" type="radio" value="96000"/>
            <label class="inline" for="rate-96000">96000</label>
    
            <input id="salutation-mr" name="rate" type="radio" value="192000" checked/>
            <label class="inline" for="rate-192000">192000</label>
          </div>
                
          <label for="chunk">Velikost buferja:</label>
          <div class="input-group">
    
            <input id="chunk-6000" name="chunk" type="radio" value="6000"/>
            <label class="inline" for="chunk-6000">6000</label>
    
            <input id="chunk-8000" name="chunk" type="radio" value="8000" checked/>
            <label class="inline" for="chunk-8000">8000</label>
    
            <input id="chunk-12000" name="chunk" type="radio" value="12000"/>
            <label class="inline" for="chunk-12000">12000</label>

            <input id="chunk-16000" name="chunk" type="radio" value="16000"/>
            <label class="inline" for="chunk-16000">16000</label>
          </div>


          <div class="input-group">
            <label for="method">Metoda izračuna:</label>
            {% comment %} <input id="method" name="method" type="number"/> {% endcomment %}
            <select name="method" id="method" onchange="displaySegments('welch-segments', this)" required >
              <option value="">--Prosimo izberite opcijo--</option>
              <option value="welch">Welch</option>
          </select>
          </div>

          <div class="input-group" id="welch-segments">
            <label for="segments">Število segmentov:</label>
            <input id="segments" name="segments" type="number"/>
          </div>

          {% comment %} <div class="input-group">
            <label for="chunk">Velikost buferja:</label>
            <input id="chunk" name="chunk" type="number"/>
          </div> {% endcomment %}
    
          <div class="input-group">
            <input id="start-stream" name = "start" type="submit" value="Začni">
            <input id="stop-stream" name="stop" type="submit" value="Ustavi">
          </div>
        </form>
    </div>
    <div class="file-list">
      <h2>Meritev na napravi</h2>
      <p>Tu si lahko ogledate pretekle meritve shranjene na naprav. S klikom na njih jih shranite v spletno aplikacijo, ter si jih ogledate v vaših meritvah.</p>
      <div  class="measurements">
      </div>
      <input id="refresh-measurement" name = "refresh" type="submit" value="Osveži">
    </div>
</div>

    <div class="chart">
      <div class="canvas"><canvas id="myChart-1"></canvas></div>
        
      <div class="canvas"><canvas id="myChart-2"></canvas></div>

    </div>


<script src="{% static "js/stream_app.js" %}"></script>
{% endblock %}